.main_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(90vw, 300px), 1fr));
    gap: 30px;
}

.main_container > section > a > img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1; /* To make them a square */
    object-fit: cover;

}

#background1{
    background-image: url("../../assets/back.svg");
    background-size: cover;
    background-repeat: no-repeat;

} 